body {background-color: #f9ecdf;font-size: 21px;  font-family: monospace;}

 #tempcontent {text-align: center;margin: 0 auto;}

 #main_navbar a {margin-left: 20px; color: white;}
 #login a  {margin-left: 2px; color: white;}

 #login {margin-left: 1250px; float: left; color: white; margin-top: 18px;} 
 #login small {font-size:21px;}

 p {color: black;}

#main_navbar {margin-left: 70px;float: left;}

h1, h2, h3{border: 3px solid; margin-right:550px;margin-left:550px;border-radius: 10px; color: black;}

 footer {
       background-color: #3d3d3d;
	color: white;
	text-align: center;
	padding: 12px;
	font-family: monospace;
	font-weight: 300;
	position: fixed;
	margin-top: 250px;
	left: 0;
	flex-grow: 1;
	width: 100%;
	top: 630px;
    }

#navborder {
    position: fixed;
    margin-left: -8px;
    padding: 6px;
    top: -1px;
    width: 100%;
    align-items: center;
    background-color: #3d3d3d;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    z-index: 1;
}

todo {
    text-align: center;
}

ul.centerList {display: inline-block; text-align: left; color: black;}

