body{background-color: #f9ecdf; font-size:20px; font-family:monospace;}

h1, h2{border:3px solid; text-align: center; margin-right:550px; margin-left:550px; border-radius:10px;}

p{text-align: center; color: black;}

#main_navbar {margin-left: 70px;float: left; margin-top: 10px;}

#main_navbar a {margin-left:20px; color:white;}

#login a  {margin-left:2px; color:white;}

#login {color: white; margin-top: 31px; margin-left: 1380px;} 
#login small {font-size:20px;}

#todo {text-align: center; ;}
ul.centerList {display: inline-block; text-align: left; color: black;}

#navborder {
    position: fixed;
    margin-left: -8px;
    padding: 10px;
    top: -2px;
    width: 100%;
    align-items: center;
    background-color: #3d3d3d;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    z-index: 1;
}

footer {
    background-color:  #3d3d3d;
    color: white;
    text-align: center;
    padding: 12px;
    font-weight: 300;
    position: fixed;
    margin-top: 250px;
    left: 0;
    flex-grow: 1;
    width: 100%;
    top: 630px;
}
